name: build

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      path:
        required: true
        type: string
      output_path:
        type: string
        required: false
        default: /opt/bitnami

jobs:
  build_library:
    strategy:
      matrix:
        platform:
          - { name: amd64, image: ubuntu-24.04 }
          - { name: arm64, image: ubuntu-24.04-arm }

    name: Build ${{ inputs.name }} library - ${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.image }}

    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
              image=moby/buildkit:v0.23.2

      - name: Build container
        uses: docker/build-push-action@v6
        with:
          platforms: linux/${{ matrix.platform.name }}
          context: ${{ inputs.path }}
          tags: library-build:latest
          load: true
          cache-from: type=gha,scope=${{ inputs.name }}-${{ matrix.platform.name }}
          cache-to: type=gha,mode=max,scope=${{ inputs.name }}-${{ matrix.platform.name }}

      - name: Extract compiled library
        run: |
          docker create --name lib library-build:latest
          docker cp -a lib:${{ inputs.output_path }} build
          tar -cf build.tar build/

      - name: Uploads compiled library artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ inputs.name }}-${{ matrix.platform.name }}
          path: build.tar
